<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>
    <h1 class="text-center mt-5 mb-3">BUSCA tu libor</h1>
    <div class="container w-25">  
        <form action="/login" method="post">
            <div class="form-group px-0">
                <input type="text" name="buscador" class="form-control" placeholder="Ingrese su Email">
            </div>
            <button type="submit" class="btn btn-danger btn-block">Buscar</button>
        </form>
    </div>
</main>

<%- include('../partials/footer.ejs') %>