<!-- INPUT BUSCADOR -->
<section class="py-3">
    <h3 class="text-center mt-5 mb-5">Busca por título, categoria o contenido</h3>
    <div class="container align-items-center justify-content-center w-50">
        <form action="/buscador" class="d-flex" method="post">
            <input type="text" name="busqueda" class="form-control me-1 input-buscar" placeholder="Ingresa tu busqueda" />
            <button type="submit" class="col-3 btn btn-buscar">Buscar</button>
        </form>
    </div>
    
</section>

<!-- RESULTADOS -->
<section>
    <% if (Object.keys(libros).length===0 || libros === undefined) { %>
        <div class="row contenedor-resultados">
            No hay resultados
        </div>
        <% } else {%>
            <% console.log(libros); %>
            <%- include('../partials/card.ejs',{start:0, end:libros.length}) %>
                <% } %>
</section>