<!-- SECCION HERO -->
<section class="hero">
    <div class="overlay-hero">
        <h1>La tienda de libros más grande de Buenos Aires</h1>
        <button type="button" class="col-3 btn-comprar-ahora mt-4">Compra ya</button>
    </div>
</section>