<section class="pt-0">
    <div class="row gx-2">
        <div class="col-6">
            <img src="/img/paginas-libro-abierto.jpg" class="img-fluid" alt="paginas-libro-abierto">
        </div>
        <div class="col-6 align-self-center contenedor-nosotros">
            <h1 class="titulo-nosotros">Nostros</h1>
            <div class="texto-nosotros">
                <p>En BOOKTOWN, creemos que la lectura es una experiencia enriquecedora que nos transporta a diferentes
                    mundos, nos enseña, nos entretiene y nos conecta con otros seres humanos.</p>

                <p>Nuestro equipo está compuesto por apasionados amantes de los libros, y trabajamos arduamente para
                    asegurarnos de tener los títulos más solicitados y las joyas literarias menos conocidas.
                    ¡Descubre el placer de la lectura sin límites con BOOKTOWN, tutienda de libros online de confianza!
                </p>
            </div>
        </div>
    </div>
</section>