<footer >
    <section>
        <div class="row">
            <div class="col-6 col-md-5 mb-3">
                <form>
                    <h4 class="lh-base"><strong> Suscribite a nuestras tienda de libros y recibi un 15% de descuento en tu primer compra</strong></h4>

                    <div class="d-flex flex-column flex-sm-row w-60" id="custom-search-input">
                        <input type="text" class="form-control input-lg" placeholder="Ingresa tu email" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="list-unstyled d-flex mt-4">
                    <li class="ms-3"><a class="link-dark" href="#">Terminos</i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#">Privacidad</i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3 offset-lg-1">
                <h4>Link Rapidos</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/nosotros" class="nav-link p-0 text-muted">Nosotros</a></li>
                    <li class="nav-item mb-2"><a href="/libros" class="nav-link p-0 text-muted">Productos</a></li>
                    <li class="nav-item mb-2"><a href="/contacto" class="nav-link p-0 text-muted">Contactanos</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h4>Cliente</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/carrito" class="nav-link p-0 text-muted">Mi Carrito</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ordenes</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lista de Tracking</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h4>Contacto</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">hello@tbookshop.com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">orders@tbookshop.com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+913525458</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>